.App {
  padding: 20px;
}

div.options {
  text-align: center;
}

textarea.fields {
    min-width: 300px;
    min-height: 200px;
}

div.viewport {
  height: 80vh;
  width: 100vh;
  z-index: 1;

}

div.content {
  float: right;
  width: 50%;
  height: 100%;
  z-index: 2;
}

div.info {
  width: 50%;
  height: 100%;
  z-index: 3;
}
