.App {
  padding: 20px;
}

div.options {
  text-align: right;
}

textarea.fields {
    min-width: 350px;
    min-height: 100px;
}

div.viewport {
  height: 80vh;
  width: 80vh;
  /*height: 800px;
  width: 500px;*/
}

div.content {
  float: right;
  width: 60%;
  height: 100%;
  z-index: 2;
}

div.info {
  width: 40%;
  height: 100%;
  z-index: 3;
}
