.dropdown {
  margin: 0.1em;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 10px;
  background-color: #000000;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  max-width: 400px;
}
