.button {
  float: left;
  margin: 0.1em;
  top: 100;
  text-align: center;
  height: 10%;
  width: 10%;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 10px;
  background: #000000;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
